doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Criar conta em UpTask

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            
            form#formulario.caja.caja-login(method="POST" action="/criar-conta")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Seu Email" value="email" ) 
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Seu Password" value="password" )
                .campo.enviar
                    input.boton(type="submit" value="Criar Conta")
                .campo
                    a(href="/iniciar-session") Voltar a inicio da Sessão

        