doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nomePagina
            p Coloca sua nova Senha

            
            form.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Nova senha" value="email" ) 
                .campo.enviar
                    input.boton(type="submit" value="Recuperar Senha")